/* メインパネル */
.content-item{
  margin: 15px 10px;
  border-radius: 5px;
  background-color: #262A2F;
}
.item-header {
  display: flex;
  border-bottom: 1px solid #6C757D;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.item-title {
  font-size: 25px;
}
.item-date {
  display: flex;
}
.item-weather {
  margin-right: 15px;
}
.content-item p {
  padding: 15px 10px;
}

.userIcon {
  font-size: 20px;
  margin:10px;
}
.userIcon i {
  border: solid 1px #858A90;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}
.messageRight {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.messageLeft {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}
.messageLeft p, .messageRight p {
  margin: 0px 5px;
  display: flex;
  align-items: end;
}
.sender-left{
  display: flex;
  flex-direction: column;
}
.sender-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.myBalloon {
  background-color: rgb(15, 220, 150);
  border-radius: 15px;
  color: black;
  padding: 10px;
  position: relative;
}
.myBalloon::before {
  position: absolute;
  top: 3px;
  right: -8px;
  content: '';

  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 0px 8px 22px;
  border-color: transparent transparent transparent rgb(15, 220, 150);
  border-radius: 50%;
}
.otherBalloon {
  background-color: rgb(90, 99, 96);
  border-radius: 15px;
  color: black;
  padding: 10px;
  position: relative;
}
.otherBalloon::before {
  position: absolute;
  top: 3px;
  left: -8px;
  content: '';

  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 0px 8px 22px;
  border-color: transparent transparent transparent rgb(90, 99, 96);
  border-radius: 50%;
  scale: -1 1;
}
.right-panel {
  position: relative;
  flex: 4;
  display: flex;
  flex-direction: column;
}
.panel {
  padding: 20px 40px;
  background-color: #1F2326;
  color: #F6F6F6;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chatData {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/* 送信枠 */
.message-container {
  position: sticky;
  bottom: 0;
  padding-bottom: 10px;
  background-color: #1F2326;
  width: 100%;
}
.input-field {
  padding: 10px 20px;
  background-color: #40414F;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: solid 1px #31333B;
}
.message-input {
 width: 100%;
 background-color: #40414F;
 color: #fff;
 border: none;
}
.message-input:focus{
  outline: none;
}
.message-send {
  padding: 5px 7px;
  border-radius: 5px;
  background-color: #40414F;
  border: none;
  pointer-events: none;
}
.possible {
  background-color: rgb(25, 195, 125);
  color: #fff;
  pointer-events: auto;
}
.possible:hover {
  cursor: pointer;
  background-color: rgb(45, 225, 155);
}