html{
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
/* スクロールバー */
/* 落ち着いたらJsで実装要諦 */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #6C757D;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  display: none;
}

/* メインパネル */
.right-panel {
  box-sizing: border-box;
  flex: 4;
  padding: 20px 40px;
  background-color: #1F2326;
  color: #F6F6F6;
  height: auto;
  min-height: 100%;
}
.content-item{
  margin: 15px 10px;
  border-radius: 5px;
  background-color: #262A2F;
}
.item-header {
  display: flex;
  border-bottom: 1px solid #6C757D;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.item-title {
  font-size: 25px;
}
.item-date {
  display: flex;
  align-items: center;
}
.item-weather {
  margin-right: 15px;
}
.content-item p {
  padding: 15px 10px;
}
.userName a {
  color: #fff;
  text-decoration: none;
}


/* 新規投稿ボタン */
.writeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 30px;
  background-color: rgb(210, 180, 0);

  /* 配置 */
  position: fixed;
  bottom: 20px;
  right: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.writeButton:hover {
  cursor: pointer;
  background-color: rgb(255, 220, 45);
}
.writeButton i {
  font-size: 30px;
}
#closeModal {
  display: none;
}

/* フッター回り */
.footer {
  text-align: center;
}
.footer a {
  margin: 10px;
  color: #F6F6F6;
}
.footer a:hover {
  color: #fff;
}

/* 検索窓 */
.header-a input[type="text"] {
  width: auto;
  height: auto;
  border: none;
  border: solid 2px #3879D9;
  padding: 0px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none; /* フォーカス時の枠線を無効 */ 

}
.header-a button[type='submit'] {
  border: none;
  cursor: pointer;
  background: #3879D9;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* js */
.postPanel {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showFlag {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.Modal {
  position: fixed;
  width: auto;
  height: auto;
  padding: 30px;
  background: #F1F1F1;
  color: rgb(30, 30, 30);
}

/* Modalの中身 */
.data{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.data-title, .data-body {
  display: flex;
  margin: 10px 0px;
}
.date {
  font-size: 25px;
}
.titleInput, .bodyInput {
  border-radius: 5px;
  border: solid 1px #d8dde5;
  flex-grow: 1;
}
.titleInput:focus, .bodyInput:focus {
  outline: solid 2px #C0E0F1;
  border: solid 1px #81C2E3;
}
.bodyInput {
  resize: none;
}
.bodyInput::-webkit-scrollbar {
  width: 5px;
}
.bodyInput::-webkit-scrollbar-thumb {
  background-color: #6C757D;
  border-radius: 5px;
}
.bodyInput::-webkit-scrollbar-track {
  display: none;
}

/* Modal ボタン */
.modal-button {
  display: flex;
  justify-content: space-around;
}
.buttonReset, .buttonPost{
  width: 30%;
  padding: 10px;
  margin: 0px 20px;
  border: none;
  border-radius: 5px;
}
.buttonReset {
  background-color: rgb(250, 220, 220);
  border-bottom: solid 5px rgb(200, 170, 170);
}
.buttonPost {
  height: 48px;
  background-color: rgb(220, 250, 220);
  border-bottom: solid 5px rgb(170, 200, 170);
} 

.buttonPost:hover {
  top: 3px;
  position: relative;
  background-color: rgb(220, 250, 220);
  border-bottom: solid 2px rgb(170, 200, 170);
}
.buttonReset:hover {
  top: 3px;
  position: relative;
  background-color: rgb(250, 220, 220);
  border-bottom: solid 2px rgb(200, 170, 170);
}



/* radioボタン */
.weather {
  margin: 0px 20px;
  width: auto;
  display: flex;
  justify-content: center;
}
.weather input {
  display: none;
}
.weather label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 10px 15px;
  margin: 0px;
  background-color: #d8dde5;
}
.weather label:hover {
  background-color: rgb(225, 230, 230);
}
.weather p {
  margin: 0px 7px;
}
.weather input[type="radio"]:checked + label {
  background-color: #a1b91d;
  color: #fff;
}

.weather label[for="sun"] {
  border-radius: 5px 0px 0px 5px;
  border-right: solid 1px #F1F1F1;
} 

.weather label[for="rain"] {
  border-radius: 0px 5px 5px 0px;
  border-left: solid 1px #F1F1F1;
}

/* 検索ボックス */
.searchBox {
  padding: 10px 10px 10px 40px;
  display: flex;
  transition: background-color 0.3s, color 0.3s;
}
.searchBox a {
  color: #858A90;
  text-decoration: none;
  transition: color 0.3s;
}
.searchBox i {
  transition: color 0.3s;
}
.searchBox input:focus {
  outline: solid 2px #C0E0F1;
  border: solid 1px #81C2E3;
  border-radius: 3px;
}