/* エラー */
.alert {
  border: 1px solid #f00;
  background-color: #fee;
  color: #f00;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
}

.alert li {
  margin-left: 20px;
}

/* タイムアウト */
.timeout {
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding: auto;
}
.timeout i {
  padding: 10px 0px 10px 10px;
  font-size: 23px;
}
.timeout p {
  padding:10px;
}

