/* フラッシュメッセージ */
.flash-message {
  border-radius: 4px;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* 配置 */
  position: fixed;
  top: 20px;
  right: 50px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 他の要素より手前に表示 */
}
.flash-message i {
  margin: 10px;

}

/* 成功 */
.success {
  color: 	#3C763D;
  background-color: #DFF0D8;
  border: 1px solid #ddd;
}
/* 失敗 */
.failed {
  color: #A94442;
  background-color: #F2DEDE;
  border: 1px solid #EBCCD1;
}
/* questionマーク */
.question {
  color: #8A6D3B;
  background-color: #FCF8E3;
  border: 1px, solid #FAEBCC;
}

/* フラッシュメッセージ フェードアウト */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fadeOut {
  animation : fadeOut 1s;
  animation-fill-mode: both;
}