/* スクロールバーはJsで実装
  webkitは使えるブラウザが限られているが、Jsだとどのブラウザでも可能 */
.container {
  display: flex;
}
/* サイドバー */
.left-panel {
  display: flex;
  flex-flow: column;
  flex: 1;
  /* height: 100vh; */
  position: sticky;
  top: 0;
  background-color: #2B3136;
  color: #858A90;
}
.left-panelTop {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.left-panelTop .userName {
  margin: auto auto auto 10px;
  font-size: 150%;
}
.left-panelTop i {
  font-size: 30px;
  border: solid 2px;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
}

/* メニューの中身 */
.left-panelMenu {
  flex: 9;
  height: 100%;
  overflow: auto;
}
.menuTitle {
  font-size: 20px;
  font-weight: 1000;
  padding: 20px 30px;
}
.menuItem {
  padding: 10px 10px 10px 40px;
  display: flex;
  transition: background-color 0.3s, color 0.3s;
}
.menuItem a {
  color: #858A90;
  text-decoration: none;
  transition: color 0.3s;
}
.menuItem i {
  transition: color 0.3s;
}
.menuItem input[type='radio'] {
  display: none;
}

.menuItem:hover {
  background-color: #414952;
}
.menuItem:hover a, .menuItem:hover i {
  color: #F6F6F6;
}

