.Login-Logo {
  font-size: 100px;
}
.input-gender {
  display: none;
}
.gender-button label {
  color: #000;
  background-color: #ddd;
  border: 1px solid #000;
}
.gender-button label,
.publishing-button label{
  padding: 5px 7px;
  border-radius: 10px;
  font-size: 13px;
  margin: 3px;
}
.gender-button label:hover{
  color: #000;
  background-color: #888
}
.input-gender:checked + label {
  background-color: rgb(127, 255, 138);
}
.input-publishing {
  display: none;
}
.publishing-button label {
  color: #000;
  background-color: #ddd;
  border: 1px solid #000;
}
.publishing-button label:hover{
  color: #000;
  background-color: #888
}
.input-publishing:checked + label {
  background-color: rgb(127, 255, 138);
}
.form-container {
  width: 40%;
  margin: 30px auto;
  padding: 20px 30px 0px 30px;
  border: solid 1px #000;
  border-radius: 10px;
}
.div-form {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.div-send {
  text-align: center;
}
.button-send {
  padding: 10px 30px;
  margin: 20px;
  border-radius: 5px;
}
.div-form input[type=text],
.div-form input[type=password] {
  width: 60%;
  height: 100%;
}

/* 配置 */
.row-container {
  display: flex;
  border-bottom: 1px solid black;
  margin: 7px 0px;
  padding: 10px 0px;
}

.left-container {
  flex: 3;
  flex-flow: column;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-right: 10px;
}
.right-container {
  flex: 7;
  flex-flow: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.h1-title {
  text-align: center;
}
.item-container {
  border-bottom: solid 1px black;
  margin-bottom: 10px;
  height: 40px;
}

#todohuken {
  width: 100px;
  height: 100%;
}